// Variable for reusable value
$margin-left: 1.5rem;

.grid {
  label {
    display: block;
    text-align: left;
    margin-left: $margin-left;
  }

  input {
    margin-bottom: 0.5rem;
    margin-left: $margin-left;
  }
}
