// Variables for common styles
$full-width: 100%;
$z-index-level: 100;
$padding-percentage: 3%;

.body-content {
    text-align: center;
    height: $full-width; // 100% height
    padding-top: $padding-percentage;
    padding-bottom: $padding-percentage;
  }